project:
  type: website
  output-dir: docs

website:
  title: ""
  navbar:
    title: ""
    left:
      - href: index.qmd
        text: Home
      - href: posts/index.qmd
        text: Posts

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



